.jobs{
    padding: 62px 0;
}


.jobs-title{
    margin-bottom: 32px;
    display: flex;
    align-items: start;
    >h2{
        flex: 1;
        color: #171313;
        font-family: var(--main-font);
        font-size: 29.875px;
        font-style: normal;
        font-weight: 700;
        line-height: 34.56px; /* 115.682% */
        letter-spacing: -1.92px;
        >span{
            color: #171313;
            font-family: var(--main-font);
            font-size: 30.375px;
            font-style: normal;
            font-weight: 400;
            line-height: 34.56px;
            letter-spacing: -1.92px;  
        }
    }
    >a{
        position: relative;
        text-decoration: none;
        color: #171313;
        font-family: var(--main-font);
        font-size: 13.453px;
        font-style: normal;
        font-weight: 700;
        line-height: 14.43px; /* 107.261% */
        letter-spacing: -0.56px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-top: 7px;
        &::after{
            transition: 0.3s;
            content: "";
            bottom: 1px;
            position: absolute;
            width: 0%;
            height: 1px;
            background-color: #fff;
        }
        >.arrow{
            transition: 0.3s;
            border: 1px solid black;
            border-radius: 50%;
            width: 22px;
            height: 22px;           
            padding: 3px; 
            margin-left: 8px;
        }
        &:hover{
            &::after{
                content: "";
                bottom: 1px;
                position: absolute;
                width: 71.5%;
                height: 1px;
                background-color: #000;
            }
            >.arrow{
                background-color: #000;
                color: #fff;
            }
          text-decoration: underline;  
        }
        
    }
}

.cards{
    display: flex;
    gap: 0 24px;
    >a{
        text-decoration: none;
    }
}


.jobs-content{
    display: flex;
    .arrow-jobs{        
        font-size: 12px;
        width: 25px;
        height: 25px;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 0.3s;
        opacity: 0;
        .icon-arrow{
            transform: rotate(-50deg);
        }
    }
    &:hover{
        .arrow-jobs{
            opacity: 1;
        }
    }
    >.content{
        display: flex;
        flex-direction: column;
        width: 100%;
        a{
            text-decoration: none;
            &:hover{
                >h2{
                    text-decoration: underline;
                }
            }
        }    
        p{
            margin-left: 15px;
            color: #171313;
            font-family: var(--main-font);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 14.43px; /* 103.071% */
            letter-spacing: -0.56px;
            text-transform: uppercase;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 8px;
                height: 8px;
                background-color: #000;
                border-radius: 50%;
                top: calc(100% - 80%);
                left: -15px;
            }
        }
        h2{
            color: #171313;
            font-family: var(--main-font);
            font-size: 22.875px;
            font-style: normal;
            font-weight: 700;
            line-height: 24.74px; /* 108.153% */
            letter-spacing: -0.96px;
        }
    }
}
